body{
    margin:0;
    font-family:'Poppins',sans-serif;
    text-align:center;
    background:#fffaf5;
}

header{
    background:#c62828;
    color:white;
    padding:20px;
}

header h1{
    font-size:3rem;
    margin:0;
}

nav button{
    background:#fbc02d;
    border:none;
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
    font-weight:bold;
    border-radius:6px;
}

.seccion{
    display:none;
    padding:40px 20px;
}

.visible{
    display:block;
}

.banner{
    position:relative;
    width:100%;
    height:350px;
    overflow:hidden;
}

.banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.banner-texto{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    background:rgba(0,0,0,0.6);
    padding:20px 30px;
    border-radius:10px;
    max-width:80%;
}

.productos{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.producto{
    background:#fbc02d;
    padding:20px;
    border-radius:10px;
    width:260px;
}

.producto img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

.producto button{
    display:block;
    width:100%;
    margin:5px 0;
    padding:8px;
    border:none;
    border-radius:5px;
    background:#c62828;
    color:white;
    cursor:pointer;
}

.carrito{
    margin-top:30px;
    background:#fff3cd;
    padding:20px;
    border-radius:10px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.carrito ul{
    list-style-position:inside;
    padding-left:0;
    text-align:center;
}

.contacto-img{
    width:80%;
    max-width:500px;
    border-radius:10px;
}

.confirmacion{
    background:#fbc02d;
}

.confirmacion-img{
    width:250px;
    border-radius:10px;
}

footer{
    background:#c62828;
    color:white;
    padding:15px;
}

@media (max-width:768px){

    .banner{
        height:auto;
        display:flex;
        flex-direction:column;
    }

    .banner img{
        height:200px;
    }

    .banner-texto{
        position:relative;
        top:auto;
        left:auto;
        transform:none;
        margin:20px auto;
        max-width:95%;
    }

    .productos{
        flex-direction:column;
        align-items:center;
    }

    .producto{
        width:90%;
    }

    .carrito{
        width:95%;
    }
}